#demo {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 50px auto;
  padding-top: 100px;
}
#demo a.btn {
  display: table-cell;
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
#demo a.btn span {
  width: 50px;
  display: block;
  position: relative;
  border-top: 5px solid #000000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#demo a.btn span:before,
#demo a.btn span:after {
  content: '';
  width: 50px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#demo a.btn span:before {
  bottom: 15px;
  border-top: 5px solid blue;
}
#demo a.btn span:after {
  top: 10px;
  border-top: 5px solid red;
}
#demo a.btn:hover span {
  width: 60px;
}
#demo a.btn.active span {
  border-top-color: #fff;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
#demo a.btn.active span:before {
  -webkit-transform: translateY(15px) rotate(-40deg);
  -moz-transform: translateY(15px) rotate(-40deg);
  -ms-transform: translateY(15px) rotate(-40deg);
  -o-transform: translateY(15px) rotate(-40deg);
  transform: translateY(15px) rotate(-40deg);
}
#demo a.btn.active span:after {
  -webkit-transform: translateY(-15px) rotate(40deg);
  -moz-transform: translateY(-15px) rotate(40deg);
  -ms-transform: translateY(-15px) rotate(40deg);
  -o-transform: translateY(-15px) rotate(40deg);
  transform: translateY(-15px) rotate(40deg);
}
