@import url(mixin.less);

#demo{
	width: 500px;
	height: 1500px;
	border: 10px solid #000;
	margin: 50px auto;
	padding: 50px;
	.linear-gradient(70deg,#fff,#333);
	
	p{
		font-size: 30px;
		line-height: 80px;
		font-weight: 800;
	}
	
	.p2{
		.text-autocut;
	}

	.p3{
		a{
			font-size: 20px;
			vertical-align: middle;
		}
	}

	table{
		caption{
			color: red;
		}
		caption-side : bottom;
		width:;
		// border-collapse: collapse;
		empty-cells: hide;
	}

	.test5{
		width:300px;height:300px;border: 1px solid #ccc;
		background-image: url(../images/fengjing.jpg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: contain;
		resize:horizontal;
	}

	.p6{
		font-size:18px;
		line-height: 30px;
		.columns(100px,3);
	}

}







